.decorate-button {
    background-color: rgb(186, 216, 190);
    outline: darkgrey ;
    outline-style: double;
    width: fit-content;
    .button-text {
        margin: 10px;
        user-select: none;
    }
}

.decorate-button:hover {
    animation: buttonAnimation 0.5s ease-in-out 0.5s 4 alternate forwards running;
}

@keyframes buttonAnimation {
    0% {
        color: black;
    }

    100% {
        color: darkgrey;
    }
}
