.decorate-button {
    background-color: rgb(186, 216, 190);
    outline: darkgrey ;
    outline-style: double;
    width: fit-content;
    .button-text {
        margin: 10px;
        user-select: none;
    }
}